$padding15: 15px;
#page {
  button:not(.form-button) {
    margin: 24px 0 0 24px;
  }
}

.rs-table-cell-header .rs-table-cell-content {
  @extend .rs-table-cell-content;
  font-weight: bold;
  color: #000000;
}

.link-group a {
  cursor: pointer;
}

.label-attach {
  display: flex;
  flex-direction: row;
}
